
{%extends 'base.html'%}

{%block content%}
<div class="form__container">
		<h1 class="form__title">Book Slote</h1>
		<div class="form__content">
<form action="{%url 'listSlotes'%}" method="get">
	
	<input type="date" name="date" class="form__date_input"required>
	<button type="submit" class="btn btn__search" name="Find"><i class="fa fa-search"></i></button>
</form>

<form action="{%url 'listSlotes'%}" method="post">
	{%csrf_token%}
	<label class="form__content_label">
	Slote
	</label>
	<select name="slote" class="form__select_input"required>
	{%for slote in slotes%}
		<option value={{slote.id}}>{{slote}}</option>

	{%endfor%}	
	</select>
	<label class="form__content_label">
	Date			
	</label>
	<input type="date" name="bdate" value="{{date}}" class="form__text_input" required readonly>
	<label class="form__content_label">
	Name
	</label>
	<input type="text" name="name" class="form__text_input" required>
	<label class="form__content_label">
	Contact
	</label>
	<input type="mail" name="contact" class="form__text_input" required>
	<input type="submit" name="Book" value="Book" class="btn btn__submit">


</form>

</div>
</div>
{%endblock content %}